fastapi
uvicorn[standard]
python-multipart
pydantic
sqlalchemy
alembic
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.1.3
python-dotenv
pydantic-settings
PyMuPDF==1.26.4  # Requerido para procesamiento de PDFs de nóminas
